.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.rdb
*.rdx
*-cache
yob*txt
*~
*-figure/
ggmapTemp.png
*_cache/
*_files/
.httr-oauth
Surveys/
ParticipantPresentations/
stylesheets/testing.css/
xkcd.ttf
RawSurvey.rds
Summer2016/CVCFileSharing/CVCFileSharing.Rproj
Summer2016/CVCFileSharing/PutFilesHere/Wrangling/dplyrCVCsides.Rmd
.DS_Store
