.Rproj.user
*.Rhistory
*.RData
*.rdb
*.rdx
*-cache
yob*txt
*.md
*~
*-figure/
ggmapTemp.png
*_cache/
*_files/
.httr-oauth
Surveys/
ParticipantPresentations/
stylesheets/testing.css/
xkcd.ttf
RawSurvey.rds